mlflow==2.2.0
xgboost
imblearn
feature-engine
loguru
pytz
boto3==1.28.14
botocore==1.31.14
scikit-learn
pandas==1.5.3
numpy
apache-airflow==2.6.2
ydata-profiling
ipykernel
ipython
awscli
virtualenv==20.17.1